{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags message_tags %}
{#{% block content_class %}#}
{#    co#}
{#{% endblock %}#}
{% block tools %}
    <div class="tools">
        <div class="holder">
            <div class="frame">
                <h1>{{ vote_category.name|safe }}</h1>

                <p class="breadcrumb">
                    <a href="{% page_url 'cms_home' %}">首页</a>
                    <a href="{% url get_votes %}">投票</a>
                    <span class="current_crumb">{{ vote_category.name|safe }}</span>
                </p>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block content %}
    <div id="content" class="content_full_width portfolio_layout">
        {% if vote_records %}
            {% for vote_record in vote_records %}
                <div class="{% cycle 'one_third' 'one_third' 'one_third_last' %}">
                    <div class="portfolio_content_top_three">
                        <div class="port_img_three" style="margin-left: 0">
                            <div class="preload preload_three">
                                <a target="_blank" href="{% url get_votes_detail vote_record_id=vote_record.id %}"><img
                                        src="{{ STATIC_URL }}img/_global/img-zoom-3.png"
                                        style="position:absolute; display: none;"
                                        alt="没有图像"/><img
                                        src="{% url get_image id=vote_record.id model='updis.vote.record' field='record_image' %}"
                                        alt="没有图像" width="275" height="145"/></a>
                            </div>
                        </div>

                    </div>

                    <div class="portfolio_content">
                        <a target="_blank" href="{% url get_votes_detail vote_record_id=vote_record.id %}">
                            <h3>{{ vote_record.name }}</h3></a>

                        <p>{{ vote_record.description }}</p>
                    </div>
                    <!-- end portfolio_content -->
                </div>

            {% endfor %}

        {% else %}
            无相关搜索结果
        {% endif %}
    </div>
{% endblock %}

{% block custom_js %}
    <script>
    </script>
{% endblock %}