div.oe_post_oe_post_title {
    display: block;
}

div.home-message-top {
    margin-top: -20px;
    border-color: #e0e0e0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 110px;
    /*width: 400px;*/
    margin-bottom: 30px;
}

div.home-message-image {
    width: 35%;
    position: relative;
    display: block;
    float: left;
    background-size: 130px 90px;
    height: 100px;
    background: url(../img/message-image-frame.png) no-repeat;
    /*background-position: -10px center;*/
}

div.home-message-image img.img {
    margin-left: 7px;
    margin-top: 8px;
    height: 75px;
    width: 115px;
}

div.home-message-content {
    width: 65%;
    position: relative;
    display: block;
    float: right;
}

div.home-message-content #title {
    margin-top: 5px;
}

.search-holder {
    width: 980px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-area {
    position: relative;
    width: 345px;
    height: 40px;
    float: right;
    display: block;
}

#search-area .text {
    margin-right: 30px;
}

#search-area .mc_input {
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px 0px inset;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(245, 245, 245);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: rgb(153, 153, 153);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(153, 153, 153);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px 0px inset;
    color: rgb(0, 0, 0);
    cursor: auto;
    display: inline-block;
    font-size: 13px;
    /*height: 25px;*/
    letter-spacing: normal;
    line-height: normal;
    list-style-type: none;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 200px;
    word-spacing: 0px;
    writing-mode: lr-tb;
}

.main-holder {
    width: 980px;
    padding-top: 20px !important;

}

#main .main-area {
    padding-top: 0px !important;
}

.post_title {
    margin-top: 5px !important;
}

.blog_wrap {
    margin-bottom: 40px;
}

div.bizmail_column {
    display: inline-block;
    margin-left: 10px;
}

div.bizmail_SubmitArea {
    display: inline-block;
}

a.oe_menu_leaf, input {
    margin-left: 10px;
}

div.bizmail_inputArea {
    display: inline-block;
}

div.bizmail_SubmitArea input {
    width: 40px !important;
    background-color: #909090;
    border: 0px;

}

input.text {
    width: 80px;
    background-color: #19292e;
    color: #ffffff;
    border-style: dotted;
    border-width: 1px;
    border-color: dimgrey;

}

div.bizmail_LoginBox form {
    display: inline-block;
    font-size: 12px;
    /*margin-left: 20px;*/
}

div.bizmail_LoginBox h3 {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    text-shadow:none;

}

.mail-login {
    display: inline-block;
    /*vertical-align: middle;*/
    /*margin-left: 120px;*/
}

#news {
    overflow: hidden;
}

#news li {
    margin-top: 5px;
}

.post-cats {
    margin-top: 16px;
}

#news a {
    margin-left: 0px !important;
}

.publish-message {
    float: right;
    margin-right: 5px;
    font-size: 12px;
    font-weight: normal;
}

.message_more {
    float: right;
    /*margin-right: 30px;*/
}

#news a.publish-message {
    display: inline-block;
    /*font-size: 12px;*/
}

.tab_con {
    background-color: #f7f7f7 !important;
    min-height: 250px !important;
}

.karma-pages a {
    padding: 0px !important;
    margin: 0px !important;
}

.karma-pages input {
    width: 29px;
}

.karma-pages-top input {
    width: 29px;
}

.karma-pages-top {
    margin-bottom: 40px;
}

.karma-pages-top a {
    padding: 0px !important;
    margin: 0px !important;
    color: #666 !important;
    outline-style: none !important;
    text-decoration: none !important;
}

.sub-nav2 {
    font-size: 12px;
}

.content_full_width .short_one_third {
    float: left;
    width: 303px !important;
    margin-right: 15px !important;
}

.content_full_width .short_one_third_last {
    float: right;
    width: 303px !important;
    margin: 0 !important;
}

.top_middle_hot_news {
    width: 315px;
    display: inline-block;
    word-wrap: break-word;
    word-break: normal;
}

.top_left_position {
    width: 320px;
    display: block;
    /*margin-right: 15px !important;*/
}

.top_right_under_search {
    display: inline-block;
    width: 300px;
    height: auto;
    word-wrap: break-word;
    word-break: normal;
}

#main .tools {
    margin-top: 70px;
    width: 940px;
}
#news {
    min-height: 242px !important;
}

#content .tabs li a {
    padding: 0 8px !important;
}

body {
    zoom: 110%;
}