{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags message_tags %}
{% block tools %}
    <div class="tools">
        <div class="holder">
            <div class="frame">
                <h1>{{ category.name }}</h1>

                <p class="breadcrumb">
                    <a href="{% page_url 'cms_home' %}">首页</a>
                    <span class="current_crumb">{{ category.name }}</span>
                </p>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block content %}
    <div class="karma-pages-top">
        <span class="pages"> 第<strong> {{ messages.number }} </strong>页/ 共{{ messages.paginator.num_pages }}页</span>
        每页20条&nbsp;&nbsp;&nbsp;&nbsp;共{{ messages.paginator.count }}条&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="background: none;" href="?page=1">首页</a>
        {% if messages.has_previous %}
            <a style="background: none;" href="?page={{ messages.previous_page_number }}">上一页</a>
        {% endif %}
        {% if messages.has_next %}
            <a style="background: none;" href="?page={{ messages.next_page_number }}">下一页</a>
        {% endif %}
        <a style="background: none;" href="?page={{ messages.paginator.num_pages }}">尾页</a>
        跳转到<input id="jump_to_page_top">页
        <button id="jump_to_top">go</button>
    </div>
    <table class="category_table">
        <thead>
        <tr>
            <th>标题</th>
            <th>发布人</th>
            <th>发布时间</th>
            <th>回复/查看</th>
            <th>顶/踩</th>
        </tr>
        </thead>
        <tbody>


        {% for msg in messages %}

            <tr>
                <td>
                    <a target="_blank" href="{% url messages_detail message_id=msg.id %}"
                       title="{{ msg.name }}" {% is_today date=msg.create_date_display %}> <span style='color: #ba2636'>·&nbsp;</span>{{ msg.name }}
                    </a>
                </td>
                <td style="text-align: center">
                    {% if msg.name_for_display %}
                        {{ msg.name_for_display|safe }}
                    {% endif %}

                </td>
                <td style="text-align: center">
                    {{ msg.create_date_display }}
                </td>
                <td style="text-align: center">
                    {% if  msg.message_ids %}
                        <a href="{% url messages_detail message_id=msg.id %}#post-comments">
                            <span>{{ msg.message_ids|length }}</span></a>
                    {% else %}
                        0
                    {% endif %}/
                    {{ msg.read_times }}
                </td>
                {#                <td>#}
                {#                    <a href="{% url category_messages category_id=msg.category_id|first %}">{{ msg.category_id|last }}</a>#}
                {#                </td>#}
                <td>
                    {{ msg.vote_like }}/{{ msg.vote_unlike }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="karma-pages">
        <span class="pages"> 第<strong> {{ messages.number }} </strong>页/ 共{{ messages.paginator.num_pages }}页</span>
        每页20条&nbsp;&nbsp;&nbsp;&nbsp;共{{ messages.paginator.count }}条&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="background: none;" href="?page=1">首页</a>
        {% if messages.has_previous %}
            <a style="background: none;" href="?page={{ messages.previous_page_number }}">上一页</a>
        {% endif %}
        {% if messages.has_next %}
            <a style="background: none;" href="?page={{ messages.next_page_number }}">下一页</a>
        {% endif %}
        <a style="background: none;" href="?page={{ messages.paginator.num_pages }}">尾页</a>
        跳转到<input id="jump_to_page_bottom">页
        <button id="jump_to_bottom">go</button>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        $(function () {
            $('#jump_to_bottom').bind("click", function (event) {
                var reg = new RegExp("^[0-9]+$");
                event.preventDefault();
                var pageNum = $("#jump_to_page_bottom")[0].value;
                if (reg.test(pageNum)) {
                    window.location.href = '?page=' + encodeURIComponent(pageNum)
                } else {
                    alert("请输入数字！")
                }
            })
            $('#jump_to_top').bind("click", function (event) {
                var reg = new RegExp("^[0-9]+$");
                event.preventDefault();
                var pageNum = $("#jump_to_page_top")[0].value;
                if (reg.test(pageNum)) {
                    window.location.href = '?page=' + encodeURIComponent(pageNum)
                } else {
                    alert("请输入数字！")
                }
            })
        })
    </script>
{% endblock %}
