{% extends "base.html" %}
{% load cms_tags message_tags humanize sekizai_tags%}
{% load tz %}
{% block tools %}
    <div class="tools">
        <div class="holder">
            <div class="frame">
                <h1>{{ message.name }}</h1>
                <p class="breadcrumb">
                    <a href="{% page_url 'cms_home' %}">首页</a>
                    <a href="{%  url category_messages category_id=message.category_id|first %}">{{ message.category_id|last}}</a>
                    <span class="current_crumb">{{ message.name|truncatehanzi:'4'|safe }}</span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="oe_post_title">
{#        <h1 style="text-align: center">{{ message.name }}</h1>#}
    </div>
    <div><span>{{ message.message_meta_display|safe }}</span></div>
    <p>{{ message.content|safe }}</p>

        <div class="post_footer">
            <div class="post-cats">
                <p>
                    <span>分类:</span>
                    <a href="{%  url category_messages category_id=message.category_id|first %}">{{ message.category_id|last}}</a>
                </p>
            </div>
        </div>

    <div class="blog-tab-box">
        <ol id="post-comments" class="comment-ol">
            {% for comment in comments %}
                <li>
                    <div class="comment-wrap">
                        <div class="comment-content">
                            <div class="comment-gravatar">
                                {% if comment.is_anonymous %}
                                    <img width="60" height="60" class="avatar avatar-60 photo"
                                         src="{{ STATIC_URL }}img/anonymous.png"/>
                                {% else %}
                                    <img width="60" height="60" class="avatar avatar-60 photo"
                                         src="{% url get_employee_image employee_id=comment.author_id.0 %}"/>
                                {% endif %}
                            </div>
                            <div class="comment-text">
                                <span class="comment-author">
                                    {% if comment.is_anonymous %}匿名用户 {% else %}{{ comment.author_id|last }}{% endif %}
                                </span>&nbsp;&nbsp;
                                <span class="comment-date">{{ comment.date|to_date }}</span>
                                <br>
                                {{ comment.body|safe }}
                            </div>
                        </div>
                    </div>
                </li>
                {% if comment.subject %}
                    <h2>{{ comment.subject }}</h2>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div id="respond">
        <div class="comments-rss">

        </div>
        <form action="" method="POST" enctype="multipart/form-data" class="ka-form">
            {% csrf_token %}
            <p class="">
                <label for="id_body" class="comment-label">评论内容</label>
                <textarea id="id_body" rows="5" cols="70" name="body" class="comment-textarea"></textarea>
            </p>

            <p style="float: right">
                <input type="checkbox" tabindex="2" id="id_is_anonymous"
                       name="is_anonymous">
                <label for="id_is_anonymous">
                    匿名评论
                </label>
            </p>

            <p>
                <label for="id_attachment" class="comment-label">添加附件&nbsp;&nbsp;&nbsp; {{ form.attachment }}</label>
            </p>

            <p><input type="submit" id="ka-submit" value="发布评论" style="opacity: 1;"></p>
        </form>
    </div>
{% endblock %}