{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags message_tags %}
{% block content_class %}
    content_blog
{% endblock %}
{% block tools %}
    <div class="tools">
        <div class="holder">
            <div class="frame">
                <h1>投票系统</h1>

                <p class="breadcrumb">
                    <a href="{% page_url 'cms_home' %}">首页</a>
                </p>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block content %}
    {% if votes %}
        {% for vote in votes %}
            {{ vote.name }}
        {% endfor %}
    {% else %}
        无相关搜索结果
    {% endif %}

{% endblock %}

{% block custom_js %}
    <script>
    </script>
{% endblock %}