{% load cms_tags sekizai_tags menu_tags placeholder_tags message_tags %}
{% load_menu as menus %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% addtoblock "css" %}
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/internal-home.css">
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/karma-teal-grey.css">
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
        <link rel="icon" type="image/gif" href="{{ STATIC_URL }}img/animated_favicon1.gif">
    {% endaddtoblock %}
    {% render_block "css" %}
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="top-block">
            <div class="top-holder">
                <!-- ***************** - Top Toolbar Left Side - ***************** -->
                <div class="sub-nav">

                    <ul>
                        <div class="mail-login">
                            <script type="text/javascript"
                                    src="http://exmail.qq.com/zh_CN/htmledition/js_biz/outerlogin.js"
                                    charset="gb18030"></script>
                            <script type="text/javascript">
                                writeLoginPanel({domainlist: "upr.cn", mode: "vertical"});
                            </script>
                        </div>
                    </ul>
                </div>


                <!-- ***************** - END Top Toolbar Left Side - ***************** -->
                <!-- ***************** - Top Toolbar Right Side - ***************** -->
                <div class="oe_topbar sub-nav2" style="background-image:none;background-color:#000;width:auto;">
                    {#                    {% if request.erpsession.login == 'upcms' %}#}
                    <ul>
                        <li><a id="link_home" href="#">管理系统</a></li>
                    </ul>
                    <a href="{% url login %}">登录</a>
                    {#                    {% else %}#}
                    {#                        <strong>{{ request.erpsession.login }}</strong>#}
                    {#                    {% endif %}#}
                </div>
                <!-- end sub-nav2 -->
            </div>
        </div>
        <div class="header-holder">
            <div class="rays">
                <div class="header-area">
                    <a class="logo" href="{% page_url 'cms_home' %}">
                        <img alt="UPDIS" src="{{ STATIC_URL }}img/logo.gif">
                    </a>
                    <ul id="menu-main-nav">
                        {#                        {{ menus.keys }}#}
                        {% for k, v in menus.items %}
                            {% if  v.parent_id.1 == 'Top menu' %}
                                <li><a href="#"><span><strong>{{ v.name }}</strong></span></a>
                                    <ul class="sub-menu">
                                        {% for cv in v.children %}
                                            <li><a target="_blank" {% if cv.action %}
                                                   href="{{ cv.action.url }}"{% endif %}>
                                                <span {% if not cv.action %}
                                                    style="text-align: right;" {% endif %}>{{ cv.name }}</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="search-holder">
            {% block search %}
            {% endblock %}
            <div id="search-area">
            <span class="text">
             <input type="text" size="18" class="mc_input" name="search_context" id="id_search_context" value="搜索主题"
                    onfocus="this.value=(this.value=='搜索主题') ? '' : this.value;"
                    onblur="this.value=(this.value=='') ? '搜索主题' : this.value;">
                <a href="#" id="searchsubmit" class="ka_button small_button small_tealgrey"
                   style="opacity: 1;"><span>搜索</span></a>
            </span>
            </div>
        </div>
        <div class="main-area">
            {% block tools %}
            {% endblock %}


            <div class="main-holder">
                <div id="content" class="{% block content_class %} content_full_width {% endblock %}">

                    {% block content %}
                    {% endblock %}
                </div>
                {% block sidebar %}

                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <div class="footer-area">
                <div class="footer-wrapper">
                    <div class="footer-holder">
                        {% for k, v in menus.items %}
                            {% if  v.parent_id.1 == 'Footer Menu' %}
                                <div class="one_fifth">
                                    <h3>{{ v.name }}</h3>
                                    <ul>
                                        {% for cv in v.children %}
                                            <li><a target="_blank"
                                                    {% if cv.action %}
                                                   href="{{ cv.action.url }}"
                                                   {% else%}class="oe_menu_leaf"{% endif %}>{{ cv.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/updis.js"></script>
    <script src="{{ STATIC_URL }}js/karma.js"></script>
    <script src="{{ STATIC_URL }}js/tab.js"></script>
    <script>
        $(function () {
            $("#searchsubmit").bind("click", function (event) {
                searchtext = $("#id_search_context")[0].value;
                searchtext = $.trim(searchtext)
                if (searchtext != '' && searchtext != "搜索主题") {
                    event.preventDefault();
                    window.location.href = '/message/search/' + encodeURIComponent(searchtext)
                }
            })
            $("#id_search_context").bind("keydown", function (event) {
                if (event.keyCode == 13) {
                    searchtext = $("#id_search_context")[0].value;
                    searchtext = $.trim(searchtext)
                    if (searchtext != '' && searchtext != "搜索主题") {
                        event.preventDefault();
                        window.location.href = '/message/search/' + encodeURIComponent(searchtext)
                    }
                }
            })

        })

    </script>
{% endaddtoblock %}
{% render_block "js" %}
{% block custom_js %}
{% endblock %}
</body>
</html>

